{
  "presets": ["@babel/preset-env"],
  "plugins": [
      ["@babel/transform-runtime"],
      ["babel-plugin-root-import",
        {
          "@/*": "./src/*",
          "@/tests/*": "./__tests__/*"
        }
      ]
  ]
}
