version: '3.8'

services:
  app:
    build: .
    command: yarn dev
    env_file:
      - .env
    volumes:
      - .:/home/node/server
    depends_on:
      - db
    ports:
      - '3333:3333'

  db:
    image: postgres:latest
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - database-data:/var/lib/postgresql/data/
    ports:
      - '5432'
